# Sekrety stacku produkcyjnego IT Help Desk.
# Skopiuj do .tools/docker/.env na serwerze i uzupelnij.
FRONTEND_PORT=8130
MYSQL_ROOT_PASSWORD=zmien-mnie
MYSQL_DATABASE=helpdesk_db
MYSQL_USER=helpdesk_user
MYSQL_PASSWORD=zmien-mnie
JWT_KEY=zmien-mnie-minimum-32-znaki-losowe
JWT_ISSUER=ITHelpDeskAPI
JWT_AUDIENCE=ITHelpDeskClient
